* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #fcc605;
  --secondary-color: #67fec8;
  --highlight-color: #678ffe;
  --light-color: #fff;
  --gradient-color: linear-gradient(90deg, #4458dc 0%, #854fee 100%);
  --dark-color: #090908;
  --mix-color: whitesmoke;
  --font: "Ovo", serif;
  --box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
  --shadow-color: 0px 10px 30px rgba(118, 85, 225, 0.3);
}

html {
  scroll-behavior: smooth;
}

body {
  background: url("/assets/img/body-bg.png") no-repeat fixed center center/cover;
  font-family: var(--font);
}

header {
  padding: 2rem;
}

/* Hero-banner styling */
.hero-banner {
  padding-top: 2rem;
  min-height: 85vh;
  color: var(--dark-color);
}

.hero-banner .site-title h3 {
  text-transform: uppercase;
}

.hero-banner #ibra {
  display: inline-block;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin-left: 5px;
}

#subheading {
  color: var(--highlight-color);
}

.social {
  font-size: 1.5rem;
  padding-bottom: 0.8rem;
  color: var(--highlight-color);
}

.social-link {
  padding-right: 2rem;
}

button a {
  text-decoration: none;
  color: var(--light-color);
}

button a:hover {
  text-decoration: none;
  color: var(--dark-color);
}

.cv-btn {
  background: var(--gradient-color);
  background-clip: padding-box;
  color: var(--mix-color);
  transition: background 0.6s ease;
  box-shadow: var(--box-shadow);
  border: 3px solid transparent;
  border-radius: 5px;
}

.cv-btn:hover {
  background: var(--mix-color);
  background-clip: padding-box;
  color: var(--dark-color);
}

.hire-btn {
  background: var(--mix-color);
  background-clip: padding-box;
  color: var(--dark-color);
  transition: background 0.6s ease;
  box-shadow: var(--box-shadow);
  border: 3px solid transparent;
  border-radius: 5px;
}

.hire-btn:hover {
  background: var(--gradient-color);
  background-clip: padding-box;
  color: var(--light-color);
}

.hire-btn a {
  color: var(--dark-color);
}

.hire-btn a:hover {
  color: var(--light-color);
}

/* Experience & Education Area style */
.base {
  margin-top: 3rem;
}

.base h3 {
  text-align: center;
  text-transform: uppercase;
}

.base button {
  display: flex;
  justify-content: space-between;
}

/* Skills Area */

.item {
  background: var(--mix-color);
  border-radius: 50%;
  text-align: center;
  /* width: 150px; */
  box-shadow: var(--box-shadow);
}

.item img {
  width: 150px;
  height: auto;
}
